<!doctype html>
<title>Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<section class="content">
    <div class='container'>
    <h3 class='text-center'>
        Breast Cancer Classifier
    </h3>
    <h5 class='text-center'>By Suyash Unnithan</h5>
    <form method='post'>
        <div class="form-group">
        <label for="meanRadius">Mean Radius</label>
        <input name="meanRadius" class="form-control" id="meanRadius" placeholder="Enter mean radius" required>
        </div>
        <div class="form-group">
        <label for="meanTexture">Mean Texture</label>
        <input name="meanTexture" class="form-control" id="meanTexture" placeholder="Enter mean texture" required>
        </div>
        <div class="form-group">
        <label for="meanPerimeter">Mean Perimeter</label>
        <input name="meanPerimeter" class="form-control" id="meanPerimeter" placeholder="Enter mean perimeter" required>
        </div>
        <div class="form-group">
        <label for="meanArea">Mean Area</label>
        <input name="meanArea" class="form-control" id="meanArea" placeholder="Enter mean area" required>
        </div>
        <div class="form-group">
        <label for="meanSmoothness">Mean Smoothness</label>
        <input name="meanSmoothness" class="form-control" id="meanSmoothness" placeholder="Enter mean smoothness" required>
        </div>
        <div class="form-group">
        <label for="meanCompactness">Mean Compactness</label>
        <input name="meanCompactness" class="form-control" id="meanCompactness" placeholder="Enter mean compactness" required>
        </div>
        <div class="form-group">
        <label for="meanConcavity">Mean Concavity</label>
        <input name="meanConcavity" class="form-control" id="meanConcavity" placeholder="Enter mean concavity" required>
        </div>
        <div class="form-group">
        <label for="meanConcavePoints">Mean Concave Points</label>
        <input name="meanConcavePoints" class="form-control" id="meanConcavePoints" placeholder="Enter mean concave points" required>
        </div>
        <div class="form-group">
        <label for="meanSymmetry">Mean Symmetry</label>
        <input name="meanSymmetry" class="form-control" id="meanSymmetry" placeholder="Enter mean symmetry" required>
        </div>
        <div class="form-group">
        <label for="meanFractalDimension">Mean Fractal Dimension</label>
        <input name="meanFractalDimension" class="form-control" id="meanFractalDimension" placeholder="Enter mean fractal dimension" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</section>